.login-card {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.social {
    background-color: wheat;
    border-radius: 50%;
    border: violet;
    font-size: 25px;
}